.youtube-player {
	aspect-ratio: 16/9;
	height: auto;
	min-width: 321px; /* YouTube shows a low quality thumb image if the width is <= 320px */
	width: 100%;
}

.wp-block-embed-youtube.wp-embed-aspect-16-9 iframe {
	aspect-ratio: 16 / 9;
	height: auto;
	width: 100%;
}

.wp-block-embed iframe {
	border-radius: rem(4);
}

.hero-rotate-text .wp-block-embed iframe {
	aspect-ratio: 500 / 281;
	height: auto;
	width: 100%;
}
