// Styles related to the toggling of the mobile primary nav.
.primary-nav {
	--site-header-height: #{rem(64)};

	@include media(">=mobile") {
		--site-header-height: #{rem(80)};
	}

	// Core navigation toggle buttons.
	.wp-block-navigation__responsive-container-open,
	.wp-block-navigation__responsive-container-close {
		border-right: 1px solid var(--wp--preset--color--border-light);
		padding: rem(20);
	}

	// Core navigation toggle open button.
	.wp-block-navigation__responsive-container-open {
		margin-left: calc( var(--wp--style--root--padding-left) * -1 );
	}

	// Core navigation toggle close button.
	.wp-block-navigation__responsive-container-close {
		background-color: var(--wp--preset--color--black-05);
		bottom: 100%;
		left: 0;
		right: auto;
		top: auto;
	}

	@include media("<mobile") {
		// Core navigation main inner container - sibling of the button.
		.wp-block-navigation__responsive-container.has-modal-open.is-menu-open {
			height: calc( 100vh - var(--site-header-height, 0) - var(--wp-admin--admin-bar--height, 0) - 1px );
			overflow: visible;
			position: absolute;
			top: calc( 100% + 1px );

			.wp-block-navigation__responsive-close {
				background-color: var(--wp--preset--color--black-05);
				height: 100%;
				overflow: hidden scroll;
			}

			.wp-block-navigation__responsive-dialog {
				margin-top: 0;
			}
			
			.wp-block-navigation__responsive-container-content {
				padding-top: 0;
			}

			.wp-block-navigation__container {
				width: 100%;
			}
		}
	}
}

html.has-modal-open {
	@include media("<mobile") {
		&,
		.wp-block-navigation__responsive-container {
			max-height: 100vh;
			overflow: hidden;
		}
	}
}


// .primary-nav-toggle {
// 	// button-tertiary
// 	@include style-guide-button(
// 		$wmui-color-base90,
// 		$wmui-color-base90,
// 		$color-primary,
// 		$border-color-base,
// 	);

// 	align-items: center;
// 	display: inline-flex;
// 	height: rem(34);
// 	justify-content: center;
// 	margin-right: rem(17);
// 	order: 10;
// 	padding: 0;
// 	width: rem(40);

// 	@media screen and (min-width: #{$primary-nav-breakpoint}) {
// 		display: none;
// 	}

// 	&:hover,
// 	&:active,
// 	&:focus {
// 		@include focus-ring($hex: false, $inset: false, $width: 4px, $transparency: 0.3);
// 		border-color: $border-color-base;
// 	}

// 	&__icon {
// 		display: none;
// 		height: rem(20);
// 		margin: 0;
// 		width: rem(20);

// 		[aria-expanded="true"] &--opened,
// 		[aria-expanded="false"] &--closed {
// 			display: block;
// 		}
// 	}

// 	&[hidden] {
// 		display: none;
// 	}
// }
