// Styles related to the primary nav mega menu block content.
.primary-nav {
	// Mega menu content container.
	.wp-block-hm-mega-menu__menu-container {
		> .wp-block-group > .wp-block-columns {
			@include media(">=mobile") {
				gap: rem(48);
			}
		}

		h2 {
			@include media("<mobile") {
				font-size: rem(16);
				font-weight: var(--wp--custom--font-weight--normal);
				line-height: var(--wp--custom--line-height--relaxed);
			}
		}

		h3 {
			font-family: var(--wp--preset--font-family--default);

			a {
				text-underline-offset: fluid( 3, 7 );
			}
		}

		h4 {
			font-family: var(--wp--preset--font-family--default);

			a {
				text-underline-offset: fluid( 2, 4 );
			}
		}

		.intro {
			position: relative;

			&::after {
				@include absolute-full-cover;
				border-right: 1px solid #D9D9D9;
				left: auto;
				right: calc( var(--wp--preset--spacing--24) * -1 );
				width: 0;
			}

			a {
				@include style-guide-arrow;
				font-weight: var(--wp--custom--font-weight--bold);
			}
		}

		.pages {
			.wp-block-list {
				margin-block-start: var(--wp--preset--spacing--32);

				li {
					margin-block-start: var(--wp--preset--spacing--16);
				}

				a {
					text-underline-offset: fluid( 3, 7 );
				}
			}

			p {
				font-size: var(--wp--preset--font-size--small);
				font-weight: var(--wp--custom--font-weight--normal);
				margin-block-start: var(--wp--preset--spacing--8);
			}
		}

		.post {
			display: flex;
			flex-direction: column;
			gap: var(--wp--preset--spacing--16);

			.wp-block-post-featured-image :where(img) {
				aspect-ratio: 1.42 / 1;
				object-fit: cover;
			}

			h4 {
				font-size: var(--wp--preset--font-size--large);
				font-weight: var(--wp--custom--font-weight--bold);
			}
		}
	}
}
