// General search form styles.
.wp-block-search__inside-wrapper {
	gap: var(--wp--preset--spacing--16);

	@include media("<sm_desktop") {
		flex-direction: column;
	}
}

.wp-block-search__input,
.wp-block-search__button {
	margin: 0;
}

.wp-block-search__input {
	background-image: url("../../assets/src/svg/search-grey.svg");
	background-position: calc( 100% - rem(10) ) center;
	background-repeat: no-repeat;
	background-size: rem(18);
	padding-right: rem(36);
}

.wp-block-search__button {
	@include media("<sm_desktop") {
		font-size: rem(20);
	}
}

// Styles related to the primary nav search menu and form.
.primary-nav .search {
	@include media(">=sm_desktop") {
		margin-left: auto;
	}

	.wp-block-hm-mega-menu__toggle {
		@include media("<sm_desktop") {
			display: none;
		}

		@include media(">=sm_desktop") {
			padding: var(--wp--preset--spacing--24);
		}

		&::before {
			background: center / contain no-repeat url("../../assets/src/svg/search.svg");
			border-bottom: 2px solid transparent;
			content: "";
			display: block;
			height: rem(26);
			width: rem(18);
		}

		&:hover::before {
			border-color: currentColor;
		}
	}

	.wp-block-hm-mega-menu__menu-container {
		@include media("<sm_desktop") {
			opacity: 100;
			position: static;
			visibility: visible;

			> .wp-block-group {
				background-color: transparent !important;
				padding-block: rem(16) !important;
			}
		}
	}

	.menu-container__close-button {
		@include media(">=sm_desktop") {
			background: transparent;
			opacity: 100;
		}
	}

	.wp-block-search__label {
		@include visually-hidden;
	}
}
