// Styles related to the toggling of the sm_desktop primary nav (top level core block).
.primary-nav {
	--site-header-height: #{rem(64)};

	@include media(">=sm_desktop") {
		--site-header-height: #{rem(80)};
	}

	// Core navigation toggle buttons.
	.wp-block-navigation__responsive-container-open,
	.wp-block-navigation__responsive-container-close {
		border-right: 1px solid var(--wp--preset--color--border-light);
		padding: rem(20);

		@include media(">=sm_desktop") {
			display: none;
		}
	}

	// Core navigation toggle open button.
	.wp-block-navigation__responsive-container-open {
		margin-left: calc( var(--wp--style--root--padding-left) * -1 );
	}

	// Core navigation toggle close button.
	.wp-block-navigation__responsive-container-close {
		background-color: var(--wp--preset--color--black-05);
		bottom: 100%;
		left: 0;
		right: auto;
		top: auto;
	}

	.wp-block-navigation__responsive-container {
		@include media(">=sm_desktop") {
			display: block;
			position: static;
		}
	}

	@include media("<sm_desktop") {
		// Core navigation main inner container - sibling of the button.
		.wp-block-navigation__responsive-container.has-modal-open.is-menu-open {
			height: calc( 100vh - var(--site-header-height, 0px) - var(--wp-admin--admin-bar--height, 0px) - 1px );
			overflow: visible;
			position: absolute;
			top: calc( 100% + 1px );

			.wp-block-navigation__responsive-close {
				background-color: var(--wp--preset--color--black-05);
				height: 100%;
				overflow: hidden scroll;
			}

			.wp-block-navigation__responsive-dialog {
				margin-top: 0;
			}
			
			.wp-block-navigation__responsive-container-content {
				padding-top: 0;
			}

			.wp-block-navigation__container {
				flex-wrap: nowrap;
				width: 100%;
			}
		}
	}
}

html.has-modal-open {
	@include media("<sm_desktop") {
		&,
		.wp-block-navigation__responsive-container {
			max-height: 100vh;
			overflow: hidden;
		}
	}
}
