.primary-nav {
	@include media("<sm_desktop") {
		order: -1;
	}

	@include media(">=sm_desktop") {
		flex-grow: 1;
	}

	// Set these to static so the megamenus can be relative to the inner site header.
	&.wp-block-navigation,
	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open),
	.wp-block-navigation__responsive-dialog {
		position: static;
	}

	li {
		align-self: stretch;
		font-weight: var(--wp--custom--font-weight--semi-bold);
		margin: 0;

		@include media("<sm_desktop") {
			font-size: rem(20);
		}

		@include media(">=sm_desktop") {
			@include has-font-size( "medium" );
		}
	}
}

@import "primary-nav-search";
@import "primary-nav-toggle";
@import "primary-nav-mega-controls";
@import "primary-nav-mega-contents";
