.site-footer {
	a[target="_blank"] {
		align-items: baseline;
		display: flex;
		gap: var(--wp--preset--spacing--8);

		&::after {
			background: center / contain no-repeat url("../../assets/src/svg/link-external.svg");
			content: "";
			height: rem(16);
			width: rem(16);
		}
	}

	&.has-base-color a:focus {
		outline-color: var(--wp--preset--color--base);
	}

	&.has-base-color a[target="_blank"]::after {
		background-image: url("../../assets/src/svg/link-external-reverse.svg");
	}

	.org-info-columns {
		@include media("<mobile") {
			gap: rem( 16 );
		}

		.wp-block-column:not(:last-child) {
			position: relative;

			@include media(">=mobile") {
				&::after {
					@include absolute-full-cover;
					border-right: 1px solid currentColor;
					left: auto;
					opacity: 0.2;
					right: calc( var(--wp--preset--spacing--40) * -1 );
					width: 0;
				}
			}
		}

		.is-layout-grid {
			grid-template-columns: rem(104) 1fr;

			@include media(">=mobile") {
				grid-template-columns: max-content 1fr;
				row-gap: var(--wp--preset--spacing--8);
			}
		}
	}

	.wp-block-navigation {
		@include media("<mobile") {
			gap: rem(16);
		}
	}

	.wp-block-navigation-item {
		font-weight: var(--wp--custom--font-weight--semi-bold);
		line-height: var(--wp--custom--line-height--relaxed);
		margin: 0;

		@include media(">=mobile") {
			font-size: rem(16);
		}
	}

	.wp-block-image {
		@include media("<mobile") {
			grid-row: span 1;
			text-align: center;
		}
	}

	.wp-block-social-links {
		@include media("<mobile") {
			border-bottom: 1px solid rgba(#fff, 0.5);
			border-top: 1px solid rgba(#fff, 0.5);
			grid-column: span 2;
			padding-block: rem(16);
		}

		.wp-social-link {
			font-size: rem(20);
		}
	}

	.wp-block-separator {
		border-top: 1px solid currentColor;

		@include media("<mobile") {
			display: none;
		}
	}

	.footer-nav-columns {
		@include media("<mobile") {
			gap: rem(16);

			.wp-block-column {
				border-bottom: 1px solid rgba(#fff, 0.5);
				padding-bottom: rem(16);
			}
		}
	}
}
