.site-header {
	@include media(">=sm_desktop") {
		&:has( .primary-nav .wp-block-hm-mega-menu__toggle[aria-expanded=true] ) {
			box-shadow: var(--wp--preset--shadow--shadow-16-blur);
		}

		&--inner {
			position: relative;
		}
	}

	.wp-block-site-logo {
		@include media("<desktop") {
			margin-right: auto;
			max-width: min( rem(172), 35% );
		}

		a {
			padding: var(--wp--preset--spacing--16);

			&:focus {
				border-radius: rem(6);
				outline-offset: -2px;
			}

			@include media(">=sm_desktop") {
				margin-left: calc( var(--wp--preset--spacing--16) * -1 );
			}
		}
	}

	li {
		margin: 0;
	}

	.donate-nav {
		@include media("<tablet") {
			max-width: 36%;
		}

		@include media("<30rem") {
			max-width: 24.5%;
		}

		.wp-block-button__link {
			@include media("<mobile") {
				font-size: rem(16);
				margin-block: rem(4);
				padding-block: rem(9);
				padding-inline: rem(8);
			}
		}

		mark {
			background-color: transparent !important;
			color: inherit !important;

			@include media("<mobile") {
				@include visually-hidden;
			}
		}
	}
}
