.site-header {
	@include media(">=mobile") {
		&:has( .primary-nav .wp-block-hm-mega-menu__toggle[aria-expanded=true] ) {
			box-shadow: var(--wp--preset--shadow--shadow-16-blur);
		}

		&--inner {
			position: relative;
		}
	}

	.wp-block-site-logo {
		@include media("<mobile") {
			margin-right: auto;
			max-width: min( rem(172), 35% );
		}

		a {
			padding: var(--wp--preset--spacing--16);

			@include media(">=mobile") {
				margin-left: calc( var(--wp--preset--spacing--16) * -1 );
			}
		}
	}

	.wp-block-hm-mega-menu__toggle-icon {
		@media ( min-width: 600px ) {
			display: none;
		}
	}

	li {
		margin: 0;
	}

	.donate-nav {
		.wp-block-button__link {
			@include media("<mobile") {
				font-size: rem(16);
				line-height: var(--wp--custom--line-height--relaxed);
				padding-inline: rem(8);
			}
		}

		mark {
			background-color: transparent !important;
			color: inherit !important;

			@include media("<mobile") {
				@include visually-hidden;
			}
		}
	}
}
