.shiro-layout-carousel-video {

    .splide__slide {
        align-items: center;
        will-change: transform; /* Helps performance */
        transition: opacity 0.6s cubic-bezier(0.25, 1, 0.5, 1);

        video, div {
            will-change: transform; /* Helps performance */
            transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
        }

    }
}
