.shiro-layout-carousel-video {
    background: hotpink !important;
}

.shiro-layout-carousel-video .splide__slide {
    transform: scale(0.8);
    opacity: 0.6;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    background: hotpink;

    &.is-active {
        transform: scale(1);
        opacity: 1;
    }
}
