.shiro-layout-carousel-video {

    .splide__slide {
        will-change: transform; /* Helps performance */
        transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.6s cubic-bezier(0.25, 1, 0.5, 1);
        align-items: center;

        .video-ambient-controls {
            bottom: 2em;
        }
    }
}
