{
	"extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
	"env": {
		"browser": true
	},
	"rules": {
		"jsdoc/no-undefined-types": [ "off" ],
		"jsdoc/check-line-alignment": [ "warn" ],
		"jsdoc/check-tag-names": [ "warn" ],
		"prettier/prettier": [ "warn" ]
	}
}
