@import "../../../sass/helpers/mixins/mixins-links";

.wp-block-shiro-interactive-card {
	border-radius: 4px;

	.interactive-card-heading,
	.interactive-card-subheading {
		margin-block-end: 0;
	}

	.interactive-card-subheading {
		margin-block-start: 1rem;
	}

	.interactive-card-heading {
		@include style-guide-arrow();
	}
}
