@import "../../../sass/helpers/mixins/mixins-links";

.wp-block-shiro-interactive-card {
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	position: relative;

	@media only screen and ( min-width : 625px ) {
		min-height: 310px;
	}

	&:focus-within {
		border-radius: 0.125rem;
		outline: 2px solid var( --wp--preset--color--blue-aaa );
		outline-offset: max( 2px, 0.1em );
	}

	.interactive-card-heading,
	.interactive-card-subheading p {
		margin-block-end: 0;
	}

	.interactive-card-heading {
		@include style-guide-arrow();
		// Reset position so we can make card clickable.
		position: static;
		// Overwrite block editor inline style that breaks parent grid.
		min-width: auto !important;

		&:focus,
		&:hover {
			&::after {
				font-weight: normal;
			}
		}

		a {
			text-decoration: none !important;

			&:hover,
			&:focus-within {
				outline: none !important;
			}
		}
	}

	// Make whole card clickable.
	.interactive-card-heading:not(.block-editor-rich-text__editable) a::after {
		content: "";
		inset: 0;
		position: absolute;
		z-index: 10;
	}

	.interactive-card-heading::after {
		opacity: 0;
		transform: scale(0.95) translateX(-1rem);
		transform-origin: center right;
		transition: all 0.25s ease-in-out;
		transition-delay: 0.2s;
		width: 0;
	}

	.interactive-card-subheading {
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows 0.35s ease, margin 0.35s;
		// Ask browser to use hardware acceleration if avilable.
		will-change: transform;

		p {
			overflow: hidden;
		}
	}
}

// Reveal content on hover and focus.
.wp-block-shiro-interactive-card:not(.block-editor-block-list__block),
.wp-block-shiro-interactive-card.is-selected {
	&:focus-within,
	&:hover {
		.interactive-card-heading::after {
			opacity: 1;
			transform: scale(1) translateX(0);
			width: auto;
		}

		.interactive-card-subheading {
			grid-template-rows: 1fr;
			margin-block-start: 1rem;
		}
	}
}

// Overwrite interactivity for reduce motion users.
@media (prefers-reduced-motion) {
	.wp-block-shiro-interactive-card {
		.interactive-card-subheading {
			transition: none !important;
		}

		.interactive-card-subheading {
			grid-template-rows: 1fr !important;
			margin-block-start: 1rem !important;
		}
	}
}
