body {
	font-size: 1rem;
	line-height: normal;
}

.is-layout-constrained {
	--wp--style--global--content-size: 980px;
	--wp--style--global--wide-size: 1020px;
}
.post-type-post {
	--wp--style--global--content-size: 40rem;
	--wp--style--global--wide-size: 980px;
}

.has-background > .wp-block-group__inner-container > :last-child {
	margin-bottom: 0;
}
