/*--------------------------------------------------------------
# Base styles
--------------------------------------------------------------*/

/* Reset
--------------------------------------------- */
@import "resets";

/* Typography
--------------------------------------------- */
@import "typography/headings";
@import "typography/typography";

/* Elements
--------------------------------------------- */
@import "elements";
@import "forms";

/* Layout (block style)
--------------------------------------------- */
.has-background + .has-background,
.has-background + .spotlight,
.spotlight + .has-background {
	margin-top: 0;
}

// These blocks behave as full-width containers.
.wp-block-shiro-landing-page-hero,
.wp-block-shiro-report-landing-hero {
	max-width: none !important;
}

// Treat wide alignment in POSTS specifically as unconstrained. We do not
// yet expose controls for this in the editor.
.single-post .alignwide > .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	max-width: unset;
}
// Related blog post list on post pages is wide.
.single-post article + .block-area.is-layout-constrained > * {
	max-width: var(--wp--style--global--wide-size);
}

// Some buttons may end up as inline-block, which breaks layout because
// margin: auto does not work with that display mode.
.is-layout-constrained > .wp-block-shiro-button.is-style-as-link {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
