@mixin field-styling {
	background-color: var(--wp--preset--color--base);
	border: 1px solid var(--wp--preset--color--border-base);
	border-radius: rem(4);
	font-family: var(--wp--preset--font-family--default);
	font-size: 1rem;
	font-weight: var(--wp--custom--font-weight--normal);
	padding: rem(12) rem(10);

	&:hover {
		border-color: var(--wp--preset--color--main);
	}

	&:focus {
		@include focus-outline(-1px, rem(4));
		border-color: var(--wp--preset--color--blue-aaa);
	}

	&:disabled {
		background-color: var(--wp--preset--color--black-10);
		border-color: var(--wp--preset--color--black-25);
	}
}


// Form elements
input,
textarea,
select {
	@include field-styling;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	display: block;
	width: 100%;
}

button {
	@include style-guide-link;
}

::placeholder {
	font-weight: var(--wp--custom--font-weight--normal);
}

.checkbox-row {
	margin-bottom: rem( 10 );

	input,
	label {
		display: inline-block;
		vertical-align: middle;
		width: auto;
	}

	input[type="checkbox"] {
		@include field-styling;
		appearance: inherit;
		margin-right: rem( 10 );
	}

	input[type=checkbox]:checked {
		background: $color-turquoise;
	}
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button:not([class]):not([id^="mce"]):not([aria-controls]) {
	@include button-primary-other-buttons;
	@include button-primary();
}

input[type="reset"] {
	@include button-tertiary();
}
