@use 'sass:color';

/**
 * Darkens a color by 30%, using Sass color scale.
 *
 * This is necessary for building things like link hover styles, where the
 * base color is defined by a CSS property on a parent block.
 *
 * @param {Color}  $color   Base color.
 */
@mixin style-guide-darken-color( $color ) {
	color: color.scale($color, $lightness: -30%);
}

/**
 * Darkens a color by 30%, using CSS filters.
 *
 * This is necessary for building things like link hover styles for links with
 * icons. A fallback scss color is provided for browsers that don't support
 * the `filter` property.
 *
 * @param {Color}  $color   Base color.
 */
@mixin style-guide-filter-color( $color ) {
	@include style-guide-darken-color($color);

	@supports (filter: brightness(0.7) hue-rotate(6deg)) {
		color: $color;
		filter: brightness(0.7) hue-rotate(6deg);
	}
}

/**
 * Reset focus ring styles to override with other focus styles.
 */
@mixin focus-reset {
	border-radius: 0;
	box-shadow: none;
	outline: none;
}

/**
 * Focus faux outline styles.
 *
 * @param {String} $offset        Outline offset width value.
 * @param {String} $border-radius Element border radius.
 * @param {String} $width         Outline stroke width value.
 */
@mixin focus-outline(
	$offset: max(2px, 0.1em),
	$border-radius: rem(2),
	$width: 2px
) {
	border-radius: $border-radius;
	outline-offset: $offset;
	outline: $width solid var(--wp--preset--color--blue-aaa);
	text-underline-offset: 0.15em !important;
}

/**
 * Focus faux outline styles.
 *
 * @param {Boolean}  $hex          Is color solid or rgba?
 * @param {Boolean}  $inset        Should the box shadow be inset?
 * @param {String}   $width        Px width for outline.
 * @param {String}   $transparency If transparent, what opacity?
 */
@mixin focus-ring(
	$hex: false,
	$inset: false,
	$width: 2px,
	$transparency: 0.8
) {
	--hex-color: #{$wmui-color-focus-ring-hex};
	@if $hex and not ($hex == true) {
		--hex-color: #{$hex};
	}

	border-radius: rem(2);
	box-shadow: if($inset, inset, #{""}) 0 0 0 $width if($hex, var(--hex-color), rgba($wmui-color-focus-ring, $transparency));
	outline: none;

	&:is(button):not(.language-switcher__button[aria-expanded=true]),
	&:is(.wp-block-button__link),
	&:is(.primary-nav .wp-block-post-featured-image a) {
		border-radius: rem(4);
	}
}

/**
 * Link styles
 */
@mixin style-guide-link {
	color: var(--wp--preset--color--blue-aaa);
	text-underline-offset: fluid( 3, 5 );

	&:focus {
		@include focus-outline;
	}

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline currentColor max(1px, 0.1em);
	}

	&:active:not(.wp-block-button__link):not(.has-link-color a) {
		background-color: var(--wp--preset--color--black-05);
		color: var( --link-active-color--blue );
	}

	&:is( .has-background:not(.has-link-color) a ):not( .blog-post a ):not(.wp-block-button__link),
	&:is( .has-text-color:not(.has-link-color) a ) {
		color: inherit;
		outline-color: currentColor;

		&:not(:hover):not(:focus):not(:active) {
			text-decoration: underline currentColor 1px;
		}

		&:active {
			background-color: initial;
		}
	}
}

@mixin style-guide-arrow-content {
	content: "\00a0 →" #{"/*rtl:'←\00a0'*/;"};
}

@mixin style-guide-arrow-content-back {
	content: "←\00a0" #{"/*rtl:'\00a0 →'*/;"};
}

@mixin style-guide-arrow($back: false) {
	display: inline-flex;
	position: relative;

	@if $back {
		&::before {
			@include style-guide-arrow-content-back;
			color: currentColor;
			font-family: var(--wp--preset--font-family--default);
			font-weight: var(--wp--custom--font-weight--normal);
			transition: font-weight 300ms ease;
			transition-property: font-weight, letter-spacing;
		}
	} @else {
		&::after {
			@include style-guide-arrow-content;
			clip-path: rect(0 100% 100% 0);
			color: currentColor;
			font-family: var(--wp--preset--font-family--default);
			font-weight: var(--wp--custom--font-weight--normal);
			transition: font-weight 300ms ease;
			transition-property: clip-path, font-weight, letter-spacing;
		}
	}

	&:hover,
	&:focus,
	&:active,
	&:disabled,
	&:is(a):not([href]) {
		@if $back {
			&::before {
				font-weight: var(--wp--custom--font-weight--bold);
				letter-spacing: 2px;
			}
		} @else {
			&::after {
				// Clip path hides the text decoration on the extra space after the icon.
				clip-path: rect(0 calc(100% - 4px) 100% 0);
				font-weight: var(--wp--custom--font-weight--bold);
				letter-spacing: 4px;
			}
		}
	}
}

@mixin category-links {
	@include has-font-size( "small" );
	align-items: baseline;
	color: var(--wp--preset--color--main);
	display: inline-flex;
	gap: var(--wp--preset--spacing--8);

	&::before {
		background-color: var(--wp--preset--color--blue-aaa);
		border-radius: 50%;
		content: "";
		height: rem(10);
		width: rem(10);
	}

	&.category-technology::before {
		background-color: var(--wp--preset--color--bright-blue);
	}
	&.category-public-policy::before {
		background-color: var(--wp--preset--color--bright-green);
	}
	&.category-our-community::before {
		background-color: var(--wp--preset--color--orange);
	}
	&.category-equity::before {
		background-color: var(--wp--preset--color--yellow);
	}
	&.category-wikimedia-foundation::before {
		background-color: var(--wp--preset--color--red-aaa);
	}
	&.category-our-projects::before {
		background-color: var(--wp--preset--color--pink);
	}
}
