@mixin button-icon-rules {
	background: url("../../assets/src/svg/lock-white.svg") center no-repeat;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 1em;
	margin-right: 0.5em;
	position: relative;
	top: 2px;
	width: 1em;
}

@mixin style-guide-button-reset() {
	background: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
	padding: 0;
}

@mixin style-guide-button() {
	cursor: pointer;

	&:focus {
		outline-color: var(--wp--preset--color--main);
	}

	&:disabled,
	&:is(a):not([href]) {
		background-color: var(--wp--preset--color--black-05);
		border-color: transparent;
		color: var(--wp--preset--color--black-50);
		cursor: text;
		text-decoration: none;
	}
}

@mixin button-primary() {
	@include style-guide-button;
}

@mixin button-secondary() {
	@include style-guide-button();
	background-color: var(--wp--preset--color--blue-aaa);

	&:hover,
	&:focus {
		background-color: var(--wp--preset--color--light-bright-blue);
		border-color: var(--wp--preset--color--blue-aaa);
	}

	&:active {
		background-color: var( --link-active-color--blue );
		color: var(--wp--preset--color--base);
	}
}

@mixin button-tertiary() {
	@include style-guide-button();

	&:not(:hover):not(:focus):not(:active):not(:disabled):not(:is(a):not([href])) {
		background-color: var(--wp--preset--color--base);
		border-color: var(--wp--preset--color--blue-aaa);
		color: var(--wp--preset--color--blue-aaa);
	}
}

@mixin button-donate() {
	@include style-guide-button();
	background-color: var(--wp--preset--color--green-aaa);

	&:hover,
	&:focus {
		background-color: var(--wp--preset--color--light-bright-green);
		border-color: var(--wp--preset--color--green-aaa);
	}

	&:active {
		background-color: var( --link-active-color--green );
		color: var(--wp--preset--color--base);
	}
}

@mixin button-link() {
	@include style-guide-button-reset;
	@include has-font-size("default");
	color: var(--wp--preset--color--blue-aaa);
	font-weight: var(--wp--custom--font-weight--semi-bold);

	&:focus {
		border-radius: rem(2);
		outline-color: currentColor;
	}

	&:disabled,
	&:is(a):not([href]) {
		background-color: transparent;
		color: var(--wp--preset--color--black-50);
		text-decoration: none !important
	}
}

@mixin button-transparent() {
	@include style-guide-button();
	background-color: transparent;
	border-color: var(--wp--preset--color--main);
	color: var(--wp--preset--color--main);

	&:active {
		background-color: var(--wp--preset--color--black-25);
	}

	&:disabled,
	&:is(a):not([href]) {
		background-color: transparent;
		border-color: var(--wp--preset--color--black-50);
		color: var(--wp--preset--color--black-50);
	}
}

@mixin button-link-arrow($back: false) {
	@include button-link();
	@include style-guide-arrow($back);
}

@mixin donate-red90-button {
	@include button-secondary;
	&::before {
		@include button-icon-rules;
	}
}

@mixin tab-item {
	background-color: var(--wp--preset--color--base);
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	color: var(--wp--preset--color--main);
	font-weight: var(--wp--custom--font-weight--semi-bold);
	padding: var(--wp--preset--spacing--16) var(--wp--preset--spacing--24);

	&:focus {
		outline-offset: 0;
		z-index: 1;
	}

	&:active,
	&.active {
		background-color: var(--wp--preset--color--black-05);
		border-color: var(--wp--preset--color--border-light);
	}
}
