// Mixins to support block editor content.
@mixin alignfull( $content-column: 1200px ) {
	margin-left: calc( var(--wp--style--root--padding-left) * -1 ) !important;
	margin-right: calc( var(--wp--style--root--padding-right) * -1 ) !important;
	max-width: none !important;
	width: 100vw;
}

@mixin global-padding {
	padding-left: var(--wp--style--root--padding-left);
	padding-right: var(--wp--style--root--padding-right);
}

@mixin alignfull-padded( $content-column: 1200px ) {
	@include alignfull( $content-column );
	@include global-padding;
}
