@mixin button-icon-rules {
	background: url("../../assets/src/svg/lock-white.svg") center no-repeat;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 1em;
	margin-right: 0.5em;
	position: relative;
	top: 2px;
	width: 1em;
}

@mixin style-guide-button-reset() {
	background: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
	padding: 0;
}

@mixin style-guide-button() {
	cursor: pointer;
	display: inline-flex;
	gap: rem(4.5);

	&:focus {
		outline-color: var(--wp--preset--color--main);
	}

	&:disabled,
	&:is(a):not([href]) {
		background-color: var(--wp--preset--color--black-05);
		border-color: transparent;
		color: var(--wp--preset--color--black-50);
		cursor: text;
		text-decoration: none;

		&:is(.has-icon a) {
			&::before {
				filter: brightness(0) opacity(0.5);
			}
		}
	}

	&:is(.has-icon a)::before {
		filter: brightness(0) invert(1);
	}
}

/**
 * These styles are a duplicate of the ones from theme.json, to be used for other buttons
 * where we can't easily add the classes required to use those styles. If theme.json is
 * updated, these will need to be as well, or they will get out of date.
 */
@mixin button-primary-other-buttons() {
	background-color: var(--wp--preset--color--main);
	border-radius: 4px;
	border-color: transparent;
	border-width: 2px;
	border-style: solid;
	color: var(--wp--preset--color--base);
	font-family: inherit;
	font-size: var(--wp--preset--font-size--large);
	font-weight: var(--wp--custom--font-weight--bold);
	line-height: var(--wp--custom--line-height--tight);
	padding-top: 0.4875em;
	padding-right: 0.8em;
	padding-bottom: 0.4875em;
	padding-left: 0.8em;
	text-decoration: none;
	text-underline-offset: 3px;

	&:hover {
		background-color: var(--wp--preset--color--border-light);
		border-color: var(--wp--preset--color--main);
		color: var(--wp--preset--color--main);
		text-decoration: underline;
	}

	&:focus {
		background-color: var(--wp--preset--color--border-light);
		border-color: var(--wp--preset--color--main);
		color: var(--wp--preset--color--main);
		outline-color: var(--wp--preset--color--main);
		outline-offset: 2px;
		outline-style: solid;
		outline-width: 2px;
		text-decoration: underline;
	}

	&:active {
		background-color: var(--wp--preset--color--border-base);
		border-color: var(--wp--preset--color--main);
		color: var(--wp--preset--color--main);
		text-decoration: underline;
	}
}

@mixin button-primary() {
	@include style-guide-button;

	&:is(.has-icon a) {
		&:hover::before,
		&:active::before,
		&:focus::before {
			filter: brightness(0);
		}
	}
}

@mixin button-secondary() {
	@include style-guide-button();
	background-color: var(--wp--preset--color--blue-aaa);

	&:hover,
	&:focus {
		background-color: var(--wp--preset--color--light-bright-blue);
		border-color: var(--wp--preset--color--blue-aaa);
	}

	&:active {
		background-color: var( --link-active-color--blue );
		border-color: var( --link-active-color--blue );
		color: var(--wp--preset--color--base);
	}

	&:is(.has-icon a) {
		&:hover::before,
		&:focus::before {
			filter: brightness(0);
		}

		&:active::before {
			filter: brightness(0) invert(1);
		}
	}
}

@mixin button-tertiary() {
	@include style-guide-button();

	&:not(:hover):not(:focus):not(:active):not(:disabled):not(:is(a):not([href])) {
		background-color: var(--wp--preset--color--base);
		border-color: var(--wp--preset--color--blue-aaa);
		color: var(--wp--preset--color--blue-aaa);
	}

	&:is(.has-icon a) {
		&:before {
			filter: brightness(0);
		}
	}
}

@mixin button-donate() {
	@include style-guide-button();
	background-color: var(--wp--preset--color--green-aaa);

	&:hover,
	&:focus {
		background-color: var(--wp--preset--color--light-bright-green);
		border-color: var(--wp--preset--color--green-aaa);
		color: var(--wp--preset--color--green-aaa);
		outline-color: var(--wp--preset--color--green-aaa);
	}

	&:active {
		background-color: var( --link-active-color--green );
		border-color: var( --link-active-color--green );
		color: var(--wp--preset--color--base);
	}

	&:is(.has-icon a) {
		&:hover::before,
		&:focus::before {
			filter: brightness(0);
		}

		&:active::before {
			filter: brightness(0) invert(1);
		}
	}
}

@mixin button-link() {
	@include style-guide-button-reset;
	@include has-font-size("default");
	color: var(--wp--preset--color--blue-aaa);
	display: inline-flex;
	font-weight: var(--wp--custom--font-weight--semi-bold);

	&:hover,
	&:focus {
		background-color: transparent;
	}

	&:focus {
		border-radius: rem(1);
		outline-color: currentColor;
		outline-offset: rem(4);
	}

	&:disabled,
	&:is(a):not([href]) {
		background-color: transparent;
		color: var(--wp--preset--color--black-50);
		text-decoration: none !important
	}

	&:is(.has-icon a)::before {
		filter: brightness(0);
	}

	&:is(.has-icon[class*="blue"] a)::before {
		filter: none;
	}

	&:is( .has-background:not(.has-link-color) a ):not( .blog-post a ):not( .has-base-90-background-color a ):not( .has-base-background-color a ) {
		color: inherit;
	}
}

@mixin button-transparent() {
	@include style-guide-button();
	background-color: transparent;
	border-color: var(--wp--preset--color--main);
	color: var(--wp--preset--color--main);

	&:active {
		background-color: var(--wp--preset--color--black-25);
		color: var(--wp--preset--color--main) !important;
	}

	&:disabled,
	&:is(a):not([href]) {
		background-color: transparent;
		border-color: var(--wp--preset--color--black-25);
		color: var(--wp--preset--color--black-50);
	}

	&:is(.has-icon a)::before {
		filter: brightness(0);
	}

	&:is( .has-background:not(.has-link-color) a ):not( .blog-post a ) {
		color: inherit;
	}
}

@mixin button-link-arrow($back: false) {
	@include button-link();
	@include style-guide-arrow($back);
}

@mixin tab-item {
	background-color: var(--wp--preset--color--base);
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	color: var(--wp--preset--color--main);
	font-weight: var(--wp--custom--font-weight--semi-bold);
	padding: var(--wp--preset--spacing--16) var(--wp--preset--spacing--24);

	&:focus {
		outline-offset: 0;
		z-index: 1;
	}

	&:active,
	&.active {
		background-color: var(--wp--preset--color--black-05);
		border-color: var(--wp--preset--color--border-light);
	}
}
