// Search styles for the 404 page.
.search-container {
  margin: var(--wp--preset--spacing--80) auto;
  max-width: rem(550);

  form {
    display: flex;
  }

  input.search-input {
    border-radius: rem(10) 0 0 rem(10);
  }

  button.search-btn {
    border-radius: 0 rem(10) rem(10) 0;
  }
}

.error404 main.is-layout-constrained > .search-container:last-child {
	margin-bottom: var(--wp--preset--spacing--80);
}
