.wp-block-shiro-video-promo-container {
	display: inline-grid;
	position: relative;
	width: 100vw
}

.wp-block-shiro-video-promo-container > video {
	display: none;
	width: 100%;
	height: auto;
	grid-row: 1;
	grid-column: 1;
}

$width-breakpoint-tablet: 768px;

@media (min-width: #{$width-breakpoint-tablet}) {
	.wp-block-shiro-video-promo-container > .wp-block-shiro-video-promo-container-background__desktop {
		display: block;
	}
}

@media (max-width: #{$width-breakpoint-tablet}) {
	.wp-block-shiro-video-promo-container > .wp-block-shiro-video-promo-container-background__mobile {
		display: block;
	}

	// Hide play button on mobile
	.wp-block-shiro-video-promo-container > .video-ambient-controls.play {
		display: none;
	}
}

.wp-block-shiro-video-promo-container__inner-container {
	grid-column: 1 / -1;
	grid-row: 1;
	z-index: 2;

	justify-self: start;
	width: 100%;
	max-width: var(--wp--style--global--wide-size);
	align-self: end;
}

.wp-block-shiro-video-promo-container__inner-container--content {
	background: #ffffff;
	border-radius: 4px;
	margin: 16px;
	padding: 24px;
	max-width: 630px;
}

@media (min-width: #{$width-breakpoint-tablet}) {
	.wp-block-shiro-video-promo-container__inner-container {
		align-self: center;
		justify-self: center;
	}

	.wp-block-shiro-video-promo-container__inner-container--content {
		justify-self: start;
	}
}

// Hide the contents when the video is playing.
.wp-block-shiro-video-promo-container.ambient-video-pause > .wp-block-shiro-video-promo-container__inner-container {
	display: none;
}

.wp-block-shiro-video-promo-container > .video-ambient-controls {
	align-self: flex-end;
	justify-self: flex-end;
	// sit the player controls above the video title.
	z-index: 99;
}

.wp-block-shiro-video-promo-container .progress-bar-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 12px;
	background-color: transparent;

	.progress-bar {
		width: 0;
		height: 100%;
		background: #990000; // $wmui-color-red -- avoid large import;
	}
}
