.search-results {
	&__tabs {
		border-bottom: 1px solid var(--wp--preset--color--border-light);
		display: flex;
	}

	&__tab {
		@include tab-item;
		align-items: center;
		display: inline-flex;
	}

	&__tabs__sort {
		align-self: flex-start;
		margin-bottom: rem(4);
		margin-left: auto;
		position: relative;

		button {
			@include style-guide-dropdown-toggle();
			gap: 0.25em;
		}

		.selected-sort {
			@include media("<mobile") {
				@include visually-hidden;
			}
		}

		.sort-dropdown {
			@include style-guide-dropdown-contents;
			position: absolute;
			right: 0;
			top: 100%;
			width: max( 100%, rem(150));
			z-index: 1;

			&:not(.is-visible) {
				display: none;
			}

			.sort-option {
				@include style-guide-dropdown-item;
			}
		}
	}
}
