{
    "globals": {
        "jQuery": true
    },
	"rules": {
        "@wordpress/i18n-ellipsis": "off",
        "@wordpress/no-global-active-element": "off",
        "@wordpress/no-unsafe-wp-apis": "off",
        "@wordpress/no-unused-vars-before-return": "off",
        "camelcase": "off",
        "curly": "off",
        "dot-notation": "off",
        "eqeqeq": "off",
        "import/no-extraneous-dependencies": "off",
        "jsdoc/check-alignment": "off",
        "jsdoc/check-line-alignment": "off",
        "jsdoc/check-param-names": "off",
        "jsdoc/check-tag-names": "off",
        "jsdoc/check-types": "off",
        "jsdoc/require-param-name": "off",
        "jsdoc/require-param": "off",
        "jsdoc/valid-types": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "no-duplicate-imports": "off",
        "no-else-return": "off",
        "no-lonely-if": "off",
        "no-redeclare": "off",
        "no-shadow": "off",
        "no-undef": "off",
        "no-unused-vars": "off",
        "no-var": "off",
        "object-shorthand": "off",
        "prefer-const": "off",
        "react/jsx-key": "off"
    }
}
