.accordion-wrapper {
	overflow: hidden;
}

.accordion-item {
	border-bottom: 1px solid var( --wp--preset--color--black-25 );
	overflow: hidden;
	scroll-padding-top: $primary-nav-mobile-height;

	&:first-child {
		border-top: 1px solid var( --wp--preset--color--black-25 );
	}

	&__title {
		align-items: center;
		background: none;
		border: 0;
		cursor: pointer;
		display: flex;
		font-size: 26px;
		// rtl: padding: var( --wp--preset--spacing--24 ) var( --wp--preset--spacing--24 ) var( --wp--preset--spacing--24 ) calc( var( --wp--preset--spacing--24 ) * 4 );
		padding: var( --wp--preset--spacing--24 ) calc( var( --wp--preset--spacing--24 ) * 4 ) var( --wp--preset--spacing--24 ) var( --wp--preset--spacing--24 );
		position: relative;
		text-align: left;
		width: 100%;

		&:active,
		&:focus,
		&:hover {
			text-decoration: none;
		}

		&:active {
			background-color: transparent !important;
		}

		&:focus:not(:focus-visible) {
			outline: none;
		}

		&:focus-visible {
			outline-offset: -4px;
		}

		&-wrap {
			margin: 0;
		}

		&-text {
			color: var( --wp--preset--color--main );
			font-family: var( --wp--preset--font-family--default );
			font-size: var( --wp--preset--font-size--large );
			font-weight: 700;
			line-height: var(--wp--custom--line-height--base);
			margin: 0;
		}

		&::after {
			content: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path d="M10.085 2.943 6.05 6.803l-3.947-3.86L1.05 3.996l5 5 5-5z"/></svg>' );
			display: flex;
			font-size: 20px;
			left: unset; // rtl: left: calc( var( --wp--preset--spacing--24 ) / 2 );
			position: absolute;
			right: calc( var( --wp--preset--spacing--24 ) / 2 ); // rtl: right: unset;
			zoom: 200%;

			.accordion-item[aria-expanded] & {
				transform: rotate(180deg);
			}
		}
	}

	&__content {
		height: 0;
		overflow: hidden;

		p:last-child {
			margin-bottom: 0;
		}
	}

	&[aria-expanded] {
		background-color: var( --wp--preset--color--black-05 );

		.accordion-item__title {
			border-bottom: 1px solid var( --wp--preset--color--black-10 );
		}

		.accordion-item__content { // stylelint-disable selector-class-pattern
			height: auto;
			padding: var( --wp--preset--spacing--24 );
		}
	}
}
