@use "sass:math";

.blog-list {
	margin-bottom: var(--wp--preset--spacing--80);
	margin-top: var(--wp--preset--spacing--80);
}

.blog-post {
	display: flex;
	flex-direction: column;

	&.alignwide {
		@include alignwide;
	}

	// Blog posts have too small a width to properly display blog lists, so
	// they need special handling if inserted directly into the editor.
	article.mw-784 > & {
		@media (min-width: #{$width-breakpoint-tablet}) {
			margin-left: calc((100vw - 640px - var(--scrollbar) - 80px) / -2);
			margin-right: calc((100vw - 640px - var(--scrollbar) - 80px) / -2);
		}

		@media (min-width: #{$width-breakpoint-desktop}) {
			margin-left: rem(math.div(980 - 640, -2));
			margin-right: rem(math.div(980 - 640, -2));
		}
	}

	&:not(:last-of-type) {
		border-bottom: 1px solid var(--wp--preset--color--border-base);
		padding-bottom: var(--wp--preset--spacing--40);
	}

	&__image {
		@include hover-box-shadow;
		display: block;
	}

	&__image-link:focus {
		@include focus-reset;

		.blog-post__image {
			@include focus-ring;
		}
	}

	&__content {
		padding: rem(16) 0 0 0;
	}

	&__title {
		@include h4;
		margin-bottom: rem(16);

		a {
			// The link around the heading should display in same color as text.
			color: var(--text-color);

			// Use a lighter underline weight since heading is large + bold.
			&:hover {
				color: var(--link-color);
				text-decoration-thickness: 0.5px;
				text-underline-offset: 2px;
			}
		}
	}

	&__categories {
		font-size: var(--wp--preset--font-size--small);
		font-weight: var(--wp--custom--font-weight--semi-bold);
		line-height: var(--wp--custom--line-height--relaxed);
		margin-bottom: rem(16);
	}

	&__category-link {
		@include category-links;
	}

	&__excerpt p {
		@include has-font-size( "default" );
		color: $wmui-color-base0;
		color: var(--text-color);
		margin: 0 0 rem(10);
	}

	&__meta {
		@include has-font-size( "small" );
		color: $wmui-color-base0;
		color: var(--text-color);
		margin-bottom: rem(20);
	}

	&__published,
	&__authors {
		display: block;

		a {
			@include style-guide-link;
		}
	}

	&__read-more {
		@include button-link-arrow;
	}

	@media not screen and ( min-width: #{$width-breakpoint-tablet} ) {
		&:first-of-type {
			padding-top: 0;
		}
	}

	@media ( min-width: #{$width-breakpoint-tablet} ) {
		align-items: stretch;
		flex-direction: row-reverse;
		justify-content: flex-end;

		&__image-link,
		&__content {
			flex-basis: 50%;
		}

		&__content {
			margin-right: rem(20);
			padding: 0;
		}

		&--featured {
			flex-direction: row;

			// stylelint-disable selector-class-pattern
			.blog-post__image-link {
				flex-basis: 77.5%;
				margin-right: rem(-322);
			}

			.blog-post__content {
				background: $wmui-color-base100;
				margin: rem(64) 0;
				padding: rem(20);
			}
		}
	}
}
