.wp-block-group {
	&.has-background {
		padding: rem(20);

		&,
		> .wp-block-group__inner-container {
			> :last-child {
				margin-bottom: 0;
			}
			> .alignwide {
				margin-left: rem(-20) !important;
				margin-right: rem(-20) !important;
			}
		}
	}

	// Ensure elements following background groups have a little extra space.
	&.has-background + :where(:not(.has-background)) {
		padding-top: 2.5rem;
	}

	&.has-radius-big {
		border-radius: $border-radius-big;
	}

	&.has-radius-small {
		border-radius: $border-radius-base;
	}
}
