.wp-block-separator {
	border-top: 1px solid var(--wp--preset--color--border-light);

	&.has-text-color {
		border-color: currentColor;
	}

	@include media("<tablet") {
		&:has( + .wp-block-columns.is-style-separators-between ) {
			display: none;
		}
	}
}
