.wp-block-column > .wp-block-group:only-child {
	height: 100%;
}

.wp-block-columns.tweet-columns {
	p {
		font-family: $font-family-sans;
		margin-bottom: rem(20);
	}

	.is-style-h1 {
		margin-bottom: rem(5);
	}
}

// New columns style for aligning the buttons to the bottom of the columns.
.wp-block-columns.is-style-align-buttons-bottom {
	.wp-block-column,
	.wp-block-group__inner-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.wp-block-buttons,
	.tweet-this,
	.wp-block-shiro-button {
		&:last-child {
			align-self: flex-start;
			margin-top: auto;
		}
	}
}
