.wp-block-group {
	&.has-background {
		padding: rem(20);

		&,
		> .wp-block-group__inner-container {
			> :last-child {
				margin-bottom: 0;
			}
		}
	}

	&.alignfull {
		@include alignfull-padded;
	}

	&.has-radius-big {
		border-radius: $border-radius-big;
	}

	&.has-radius-small {
		border-radius: $border-radius-base;
	}
}
