.wp-block-column > .wp-block-group:only-child {
	height: 100%;
}

.wp-block-columns.tweet-columns {
	p {
		margin-bottom: rem(20);
	}

	.is-style-h1 {
		margin-bottom: rem(5);
	}
}

// Columns style for aligning the buttons to the bottom of the columns.
.wp-block-columns.is-style-align-buttons-bottom {
	.wp-block-column,
	.wp-block-group__inner-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.wp-block-buttons,
	.tweet-this,
	.wp-block-shiro-button {
		&:last-child {
			align-self: flex-start;
			margin-top: auto;
		}
	}
}

// Columns style for adding separators between the columns.
.wp-block-columns.is-style-separators-between {
	@include media("<tablet") {
		gap: 0;

		+ .wp-block-separator + .wp-block-columns.is-style-separators-between {
			margin-top: 0 !important;
		}
	}

	.wp-block-column {
		@include media("<tablet") {
			border-top: 1px solid var(--wp--preset--color--border-light);
		}

		@include media(">=tablet") {
			&:not(:last-child) {
				position: relative;

				&::after {
					@include absolute-full-cover;
					border-right: 1px solid var(--wp--preset--color--border-light);
					left: auto;
					right: calc( var(--wp--preset--spacing--40) / -2 );
					width: 0;
				}
			}
		}
	}
}
