.language-switcher-nav {
	position: relative;

	&:empty {
		display: none;
	}

	.wp-block-hm-mega-menu__menu-container {
		left: 0;
		top: 100%;
		width: fluid( 150, 255 ) !important;

		> .wp-block-group {
			border: 1px solid var(--wp--preset--color--border-base);
			border-radius: 0 0 rem(4) rem(4);
		}

		.menu-container__close-button {
			display: none;
		}
	}
}

.language-switcher {
	&__button {
		@include style-guide-dropdown-toggle();

		@include media(">=mobile") {
			&::before {
				background: url("../../assets/src/svg/individual/translate.svg");
				background-repeat: no-repeat;
				background-size: contain;
				content: "";
				display: block;
				height: rem(20);
				width: rem(20);
			}
		}

		&:hover {
			background-color: var(--wp--preset--color--black-10);
			border-color: #27292D;
		}

		&:focus,
		&[aria-expanded=true] {
			@include focus-ring($hex: #3366CC, $inset: true, $width: 1px, $transparency: 1);
			border-color: #3366CC;
			border-radius: rem(4);
		}

		&[aria-expanded=true] {
			border-radius: rem(4) rem(4) 0 0;
		}

		.wp-block-hm-mega-menu__toggle-icon {
			display: none;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--16);
		padding: var(--wp--preset--spacing--8) 0 !important;
	}

	&__language {
		--language-picker-item-border-color: transparent;
		--language-picker-item-border-width: 1px;
		font-size: var(--wp--preset--font-size--medium);
		line-height: var(--wp--custom--line-height--relaxed);

		a {
			color: $wmui-color-base0;
			display: block;
			padding: var(--wp--preset--spacing--8) var(--wp--preset--spacing--16);

			&:hover {
				background-color: $wmui-color-base80;
			}

			&:active {
				background-color: var(--wp--preset--color--black-10);
			}

			&:focus {
				@include focus-ring;
			}
		}

		&--selected a {
			--language-picker-item-border-width: 2px;
			color: var(--wp--preset--color--blue-aaa) !important;
		}

		&--selected a,
		a:hover {
			--language-picker-item-border-color: currentColor;
		}
	}

	&__language-name {
		display: inline-block;

		&::after {
			border-bottom: var(--language-picker-item-border-width) solid var(--language-picker-item-border-color);
			content: "";
			display: block;
		}
	}
}
