.mailchimp-subscribe {
	border-radius: $border-radius-big;
	display: grid;
	font-family: $font-family-sans;
	gap: rem(24);
	grid-template-columns: repeat(auto-fit, minmax(rem( 460 ), 1fr));
	margin-left: auto !important;
	margin-right: auto !important;
	max-width: var(--wp--style--global--content-size);
	padding: rem(80) 0;

	&:not(.has-background) {
		background: $background-color-framed;
	}

	&:not( .alignfull ) {
		padding-left: rem(25);
		padding-right: rem(25);
	}

	h3 {
		@include h3-sans;
	}

	&__form:not(:only-child) {
		@include global-margin-bottom;
	}

	p {
		font-family: $font-family-sans;
		margin-bottom: rem(20);
	}

	> p:not(.mailchimp-subscribe__description) {
		@include has-font-size("default");
	}

	.icon {
		margin-left: 0;
		width: 20px;
	}

	&__input-container {
		display: flex;
		flex-wrap: wrap;
		gap: rem(16);
	}

	&__column-input {
		width: 100%;
	}

	&__input-field {
		@include font-size(14, 16);
		@include line-height(20, 22);

		background: $background-color-base;
		border: 1px solid $border-color-base;
		border-radius: $border-radius-base;
		margin: 0;
		padding: rem(6) rem(8);

		&:focus {
			@include focus-ring($hex: false, $inset: false, $width: 3px, $transparency: 0.6);
		}
	}

	&__description {
		@include has-font-size("small");
		flex-basis: 100%;
	}

	// Override too specific selector
	.has-small-font-size {
		@extend .has-small-font-size;
	}

	@media (min-width: #{ ($width-breakpoint-desktop) }) {
		&__column-input {
			flex: 1;
		}
	}
}
