.block-editor-block-list__block.wp-block-mailchimp-mailchimp,
.mc_container {
	display: grid;
	column-gap: rem(40);
	padding: fluid(40, 80) 0;
	row-gap: rem(16);

	@media (min-width: #{ ($width-breakpoint-tablet) }) {
		grid-template-columns: 1fr 1fr;
	}

	&:not( :is( .alignfull .mc_container ) ) {
		padding-left: rem(25);
		padding-right: rem(25);
	}

	h2, h3 {
		font-family: $font-family-sans;
		margin: 0;
	}

	h2 {
		align-self: end;
		font-weight: 700;
	}

	h3 {
		@include has-font-size("medium");
	}


	@media (min-width: #{ ($width-breakpoint-tablet) }) {
		#mc_signup {
			grid-column: 2;
			grid-row: 1 / span 2;
		}
	}

	.mc_form_inside {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: rem(16);

		@media (max-width: #{ ($width-breakpoint-tablet) }) {
			flex-flow: column nowrap;

			* {
				width: 100%;
			}
		}
	}

	.mc_message_wrapper {
		flex-basis: 100%;

		&:empty {
			display: none;
		}
	}

	.wp-block-mailchimp-mailchimp-form-field {
		flex-grow: 1;
	}

	.wp-block-mailchimp-mailchimp-form-field .mc_merge_var {
		margin: 0;
	}

	.mc_input {
		background: $background-color-base;
		border: 1px solid $wmui-color-base0;
		border-radius: 4px;
		font-size: rem( 18 );
		margin: 0;
		padding: rem(12) rem(10);

		&:focus {
			@include focus-ring($hex: false, $inset: false, $width: 3px, $transparency: 0.6);
		}
	}

	#mc_signup_submit {
		@include button-black();
		@include has-font-size("medium");
		border-radius: 4px;
		font-weight: 700;
		margin: 0;
		padding: rem( 6 ) rem( 22 );
		width: 100%;

		@media (min-width: #{ ($width-breakpoint-tablet) }) {
			width: auto;
		}
	}

	#mc_unsub_link {
		@include has-font-size("small");
		line-height: 1.5;
		margin: 0;
		text-align: left;

		a {
			color: inherit;
			font-size: inherit;
		}
	}
}