.read-more-categories {
	font-size: var(--wp--preset--font-size--small);
	font-weight: var(--wp--custom--font-weight--semi-bold);
	line-height: var(--wp--custom--line-height--relaxed);

	&,
	&__links {
		display: flex;
		flex-wrap: wrap;
		gap: var(--wp--preset--spacing--8);
	}

	&__links a {
		@include tag-links;
	}
}
