.hero-report {

	@include global-margin-bottom;

	&__header {

		@include block-style-background-color;
		@include block-style-text-color;

		display: flex;
		padding: rem(28) rem(20);

		@media ( min-width: #{$width-breakpoint-desktop} ) {
			padding-left: calc( ( 100vw - var(--wp--style--global--content-size) ) / 2 - var(--scrollbar, 0) / 2 );
			padding-right: calc( ( 100vw - var(--wp--style--global--content-size) ) / 2 - var(--scrollbar, 0) / 2 );
		}
	}

	&__image-container {
		display: none;
		position: relative;
	}

	@media ( min-width: #{$width-breakpoint-tablet} ) {

		&__header {
			flex-flow: row nowrap;
		}

		&__text-column,
		&__image-container {
			width: 50%;
		}

		&__image,
		&__image-container {
			align-self: flex-start;
			display: block;
		}
	}

	&__kicker {

		@include has-font-size("large");
		display: block;
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: rem(5);
	}

	&__title {

		@include has-font-size("jumbo");
		line-height: 1.25;
		width: 100%;
	}

}
