.share-button-container {
	margin-left: calc( var(--wp--preset--spacing--16) * -1 );
	margin-top: var(--wp--preset--spacing--24);
	position: relative;
	width: rem(164);

	> button {
		@include style-guide-dropdown-toggle;
		background-image: none;
		border-color: transparent !important;
		color: var(--wp--preset--color--blue-aaa);
		font-size: var(--wp--preset--font-size--large);
		font-weight: var(--wp--custom--font-weight--bold);
		line-height: var(--wp--custom--line-height--tight);
		padding: var(--wp--preset--spacing--8) var(--wp--preset--spacing--16);
		width: 100%;

		&[aria-expanded=true] {
			background-color: var(--wp--preset--color--black-05);
			border-radius: 0;
			outline: 0 none;
		}

		&:hover {
			text-decoration: underline currentColor max(1px, 0.1em) !important;
			text-underline-offset: .15em !important;
		}
	}

	.share-icon {
		align-items: center;
		display: inline-flex;
	}

	svg {
		height: rem(24);
		margin: 0;
		width: rem(24);
	}
}

.share-options {
	@include style-guide-dropdown-contents;
	background-color: var(--wp--preset--color--black-05);
	border-color: var(--wp--preset--color--black-10) transparent transparent;
	left: 0;
	padding-block: var(--wp--preset--spacing--16) !important;
	position: absolute;
	width: 100%;
	z-index: 1;

	a,
	button {
		@include style-guide-dropdown-item;
		align-items: center;
		background-color: transparent;
		border: 0 none;
		color: var(--wp--preset--color--blue-aaa);
		display: flex;
		gap: var(--wp--preset--spacing--8);
		font-size: var(--wp--preset--font-size--large);
		font-weight: var(--wp--custom--font-weight--bold);
		line-height: var(--wp--custom--line-height--tight);
		padding-block: 0;
		text-underline-offset: rem(3) !important;
	}

	&[hidden] {
		display: none;
	}

	svg.icon {
		width: rem(16);
		height: rem(16);
	}
}
